<a href="https://colab.research.google.com/github/HamsikaSateesh/python-projects/blob/master/log_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df = pd.read_csv("cc_defaulters.csv")

### Knowing your data

In [18]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_SEPT,PAY_AUG,PAY_JUL,PAY_JUN,...,BILL_AMT_JUN,BILL_AMT_MAY,BILL_AMT_APR,PAY_AMT_SEPT,PAY_AMT_AUG,PAY_AMT_JUL,PAY_AMT_JUN,PAY_AMT_MAY,PAY_AMT_APR,IsDefaulter
0,1,20000,Female,University,Married,24,2.0,2.0,-1.0,-1.0,...,0,0,0,0,689,0,0,0,0,Yes
1,2,120000,Female,University,Single,26,-1.0,2.0,0.0,0.0,...,3272,3455,3261,0,1000,1000,1000,0,2000,Yes
2,3,90000,Female,University,Single,34,0.0,0.0,0.0,0.0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,No
3,4,50000,Female,University,Married,37,0.0,0.0,0.0,0.0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,No
4,5,50000,Male,University,Married,57,-1.0,0.0,-1.0,0.0,...,20940,19146,19131,2000,36681,10000,9000,689,679,No

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30035 entries, 0 to 30034
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             30035 non-null  int64
 1   LIMIT_BAL      30035 non-null  int64
 2   SEX            30035 non-null  object
 3   EDUCATION      30035 non-null  object
 4   MARRIAGE       29995 non-null  object
 5   AGE            30035 non-null  int64
 6   PAY_SEPT       30020 non-null  float64
 7   PAY_AUG        30008 non-null  float64
 8   PAY_JUL        30018 non-null  float64
 9   PAY_JUN        30030 non-null  float64
 10  PAY_MAY        30035 non-null  int64
 11  PAY_APR        30028 non-null  float64
 12  BILL_AMT_SEPT  30035 non-null  int64
 13  BILL_AMT_AUG   30035 non-null  int64
 14  BILL_AMT_JUL   30035 non-null  int64
 15  BILL_AMT_JUN   30035 non-null  int64
 16  BILL_AMT_MAY   30035 non-null  int64
 17  BILL_AMT_APR   30035 non-null  int64
 18  PAY_AMT_SEPT   30035 non-null  int64
 19  PAY_AMT_AUG    30035 non-null  int64
 20  PAY_AMT_JUL    30035 non-null  int64
 21  PAY_AMT_JUN    30035 non-null  int64
 22  PAY_AMT_MAY    30035 non-null  int64
 23  PAY_AMT_APR    30035 non-null  int64
 24  IsDefaulter    30035 non-null  object
dtypes: float64(5), int64(16), object(4)
memory usage: 5.7+ MB

### Cheking for NULL Values

In [20]:
df.isnull().sum()

ID                0
LIMIT_BAL         0
SEX               0
EDUCATION         0
MARRIAGE         40
AGE               0
PAY_SEPT         15
PAY_AUG          27
PAY_JUL          17
PAY_JUN           5
PAY_MAY           0
PAY_APR           7
BILL_AMT_SEPT     0
BILL_AMT_AUG      0
BILL_AMT_JUL      0
BILL_AMT_JUN      0
BILL_AMT_MAY      0
BILL_AMT_APR      0
PAY_AMT_SEPT      0
PAY_AMT_AUG       0
PAY_AMT_JUL       0
PAY_AMT_JUN       0
PAY_AMT_MAY       0
PAY_AMT_APR       0
IsDefaulter       0
dtype: int64

### treat null/missing values

In [21]:
mcols = ['MARRIAGE','PAY_SEPT','PAY_AUG', 'PAY_JUL','PAY_JUN', 'PAY_MAY', 'PAY_APR']

for col in mcols:
    #mod = df[col].mode
    df.fillna(value={col : df[col].mode()[0]}, inplace=True)

In [22]:
df.isnull().sum()

ID               0
LIMIT_BAL        0
SEX              0
EDUCATION        0
MARRIAGE         0
AGE              0
PAY_SEPT         0
PAY_AUG          0
PAY_JUL          0
PAY_JUN          0
PAY_MAY          0
PAY_APR          0
BILL_AMT_SEPT    0
BILL_AMT_AUG     0
BILL_AMT_JUL     0
BILL_AMT_JUN     0
BILL_AMT_MAY     0
BILL_AMT_APR     0
PAY_AMT_SEPT     0
PAY_AMT_AUG      0
PAY_AMT_JUL      0
PAY_AMT_JUN      0
PAY_AMT_MAY      0
PAY_AMT_APR      0
IsDefaulter      0
dtype: int64

### Checking for duplicate values

In [23]:
df.duplicated().sum()

0

In [24]:
df.drop(columns='ID',inplace=True)

In [25]:
df.duplicated().sum()

70

In [26]:
#df = df.drop_duplicates()
df = df.drop_duplicates(keep='first')

In [27]:
df.duplicated().sum()

0

In [28]:
df.shape

(29965, 24)

### Converting Categorical Data into Numeric Data for model understanding
#### 1. One Hot Encoding & Dummies creation - Nominal Data
#### 2. Label Encoding - Ordinal Data
#### 3. Binay Encoding - T/F values

In [29]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_SEPT,PAY_AUG,PAY_JUL,PAY_JUN,PAY_MAY,...,BILL_AMT_JUN,BILL_AMT_MAY,BILL_AMT_APR,PAY_AMT_SEPT,PAY_AMT_AUG,PAY_AMT_JUL,PAY_AMT_JUN,PAY_AMT_MAY,PAY_AMT_APR,IsDefaulter
0,20000,Female,University,Married,24,2.0,2.0,-1.0,-1.0,-2,...,0,0,0,0,689,0,0,0,0,Yes
1,120000,Female,University,Single,26,-1.0,2.0,0.0,0.0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,Yes
2,90000,Female,University,Single,34,0.0,0.0,0.0,0.0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,No
3,50000,Female,University,Married,37,0.0,0.0,0.0,0.0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,No
4,50000,Male,University,Married,57,-1.0,0.0,-1.0,0.0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,No

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df['EDUCATION'])

LabelEncoder()

In [32]:
le.classes_

array(['Graduate School', 'High School', 'Others', 'University'],
      dtype=object)

In [33]:
df['EDUCATION'] = le.transform(df['EDUCATION'])

In [34]:
mapping = dict(zip(le.classes_, range(len(le.classes_))))
print("Mapping of values to categories:")
for category, encoded_value in mapping.items():
    print(f"{category}: {encoded_value}")

Mapping of values to categories:
Graduate School: 0
High School: 1
Others: 2
University: 3

In [35]:
#Label encoding- One hot encoding
encode_num = {"SEX":{"Female":0,"Male":1}, "IsDefaulter":{"Yes":1,"No":0}, "EDUCATION":{"University":3,"Graduate School":2,"High School":1,"Others":0}}
data=df.replace(encode_num)

In [36]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_SEPT,PAY_AUG,PAY_JUL,PAY_JUN,PAY_MAY,...,BILL_AMT_JUN,BILL_AMT_MAY,BILL_AMT_APR,PAY_AMT_SEPT,PAY_AMT_AUG,PAY_AMT_JUL,PAY_AMT_JUN,PAY_AMT_MAY,PAY_AMT_APR,IsDefaulter
0,20000,Female,3,Married,24,2.0,2.0,-1.0,-1.0,-2,...,0,0,0,0,689,0,0,0,0,Yes
1,120000,Female,3,Single,26,-1.0,2.0,0.0,0.0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,Yes
2,90000,Female,3,Single,34,0.0,0.0,0.0,0.0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,No
3,50000,Female,3,Married,37,0.0,0.0,0.0,0.0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,No
4,50000,Male,3,Married,57,-1.0,0.0,-1.0,0.0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,No

In [37]:
#data = pd.get_dummies(data, columns = [''])
data = pd.get_dummies(data)

In [38]:
data.head()

,LIMIT_BAL,SEX,EDUCATION,AGE,PAY_SEPT,PAY_AUG,PAY_JUL,PAY_JUN,PAY_MAY,PAY_APR,...,PAY_AMT_SEPT,PAY_AMT_AUG,PAY_AMT_JUL,PAY_AMT_JUN,PAY_AMT_MAY,PAY_AMT_APR,IsDefaulter,MARRIAGE_Married,MARRIAGE_Others,MARRIAGE_Single
0,20000,0,3,24,2.0,2.0,-1.0,-1.0,-2,-2.0,...,0,689,0,0,0,0,1,True,False,False
1,120000,0,3,26,-1.0,2.0,0.0,0.0,0,2.0,...,0,1000,1000,1000,0,2000,1,False,False,True
2,90000,0,3,34,0.0,0.0,0.0,0.0,0,0.0,...,1518,1500,1000,1000,1000,5000,0,False,False,True
3,50000,0,3,37,0.0,0.0,0.0,0.0,0,0.0,...,2000,2019,1200,1100,1069,1000,0,True,False,False
4,50000,1,3,57,-1.0,0.0,-1.0,0.0,0,0.0,...,2000,36681,10000,9000,689,679,0,True,False,False

### Check for data balance in the dependent variable

In [39]:
data['IsDefaulter'].value_counts()

IsDefaulter
0    23335
1     6630
Name: count, dtype: int64

In [40]:
x = data.loc[:,data.columns != 'IsDefaulter']
y = data['IsDefaulter']

### Different ways to balance the data
##### 1. Using SMOTE (Synthetic Minority Over-sampling Technique)
##### 2. Using ADSYN ADASYN (Adaptive Synthetic Sampling)

In [41]:
import imblearn
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)

In [42]:
xts , yts = smote.fit_resample(x,y)

In [43]:
print("Values after balancing :",len(yts))
print("Values before balancing :",len(y))

Values after balancing : 46670
Values before balancing : 29965

### Transforming the data - Feature Engineering
#### 1. Standardization
#### 2. Normalization

In [44]:
#importing libraries for data transformation
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
xts = scaler.fit_transform(xts)

#### Splitting the Data into train and test sets

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(xts, yts, test_size=0.2, random_state=42)

In [46]:
print("Samples in Training data ", len(X_train))
print("Samples in Testing data ", len(X_test))

Samples in Training data  37336
Samples in Testing data  9334

#### Model Training / Data Modelling & Model Evaluation

In [48]:
#importing models and evaluation metrics
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, confusion_matrix, roc_curve, auc

#### Logistic Regression

In [49]:
#logistic regression
logi = LogisticRegression(fit_intercept=True, max_iter=10000)
logi.fit(X_train, y_train)
y_pred_logi = logi.predict(X_test)
y_train_pred_logi=logi.predict(X_train)

#getting all score for logistic regression
train_accuracy_logi = round(accuracy_score(y_train_pred_logi,y_train), 3)
accuracy_logi = round(accuracy_score(y_pred_logi,y_test), 3)
precision_score_logi = round(precision_score(y_pred_logi,y_test), 3)
recall_score_logi = round(recall_score(y_pred_logi,y_test), 3)
f1_score_logi = round(f1_score(y_pred_logi,y_test), 3)
roc_score_logi = round(roc_auc_score(y_pred_logi,y_test), 3)

print("The accuracy on train data is ", train_accuracy_logi)
print("The accuracy on test data is ", accuracy_logi)
print("The precision on test data is ", precision_score_logi)
print("The recall on test data is ", recall_score_logi)
print("The f1 on test data is ", f1_score_logi)
print("The roc_score on test data is ", roc_score_logi)

labels = ['Not Defaulter', 'Defaulter']
cm_logi = confusion_matrix(y_test, y_pred_logi )
print(cm_logi)

The accuracy on train data is  0.783
The accuracy on test data is  0.788
The precision on test data is  0.69
The recall on test data is  0.857
The f1 on test data is  0.764
The roc_score on test data is  0.799
[[4139  538]
 [1444 3213]]